<%= form_tag "/contacts/#{@contact.id}", method: :patch do %>
  <div>
    <%=label_tag :first_name, "First Name:"%>
    <%=text_field_tag :first_name, @contact.first_name %>
  </div>
  <div>
    <%=label_tag :last_name, "LastName:"%>
    <%=text_field_tag :last_name, @contact.last_name%>
  </div>
  <div>
    <%=label_tag :phone, "Phone Number:"%>
    <%=text_field_tag :phone, @contact.phone%>
  </div>
  <div>
    <%=label_tag :email, "Email:"%>
    <%=text_field_tag :email, @contact.email%>
  </div>

  <div>
    <%= submit_tag "Update Contact" %>
  </div>
<%end%>